@model IEnumerable<Healt_Care_System.Models.MedicalTests.Tests>
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<h2>Medical Tests</h2>


@* Add New Button as URL *@
<div>
    <a href="@Url.Action("New", "Tests")" class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>
            <strong>Add New</strong>
        </span>
    </a>
</div>
<br />

<table id="tests" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Patient</th>
            <th>Medical Tests</th>
            <th>Medical Type</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section scripts{

    <script>
        $(document).ready(function () {
            var table = $("#tests").DataTable({
                "ajax": {

                    "url": "/Tests/GetData",
                    "type": "GET",
                    "datatype":"json"
                },

                "columns": [

                    { "data": "Id"},
                    { "data": "PatientName" },
                    { "data": "MedicalTestRecord" },
                    { "data": "MedicalTypeRecord" },
                    { "data": "Price" },
                     {
                         "data": "Id", "render": function (data) {
                             return "<a class='btn btn-danger js-delete' tests-id=" + data + "><i class='fa fa-trash' aria-hidden='true'></i> Delete</a>";

                         }
                     }
                ]
            });

            $("#tests").on("click", ".js-delete", function () {
                var button = $(this);

                //if (confirm("Are you want to delete this doctor record?")) 
                bootbox.confirm("Are you sure you want to delete this patient record?", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "/Tests/Delete/" + button.attr("tests-id"),
                            success: function (data) {
                                if (data.success) {
                                    table.ajax.reload();

                                }
                            }
                       });
                    }
                });
            });
        });

    </script>
}


